@import "tailwindcss";

body{
  background-color: rgb(214, 228, 239);
  /* overflow: hidden; */
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  font-size: 15px;
  margin: 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 18px;
  background-color: #eee;
  display: none;
  /* max-height: 0;
  transition: max-height 0.3s ease-in; */
  overflow: hidden;
  margin: -10px 26px 10px 26px;

}

.open { 
  /* max-height: 150px; */
  display: block;
}

.close {
  max-height: 0;
  transition: max-height 0.3 ease-in;
  display: none;
}

.timer{
    margin: 7px 26px 10px 26px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 1.2rem;
    font-weight: 600;
    /* color: #333; */
    /* text-align: center; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
}

.timer-text {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.score {
    margin-left: auto;
    padding: 10px;
    background-color: #d1e7dd;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #0f5132;
}


.btn{
  background-color: rgb(43, 43, 94);
}


.login{
  overflow: hidden;
}
